{% extends 'base.html' %}
{% block title %} Configurare Oferta {% endblock %}

{% block content %}

    <h1 class="text-center" style="font-family: Gelasio; font-weight: bold">
        Felicitari! Ești cu un pas mai aproape! </h1>

    <h2 class="text-dark text-center" style="font-family: Gelasio;font-weight: bold">
        Recomandarea Next Level pentru tine: </h2>
    <br>
    <div class="container-fluid col-md-10 offset-md-1 pb-4 px-5">
        <div class="row gy-3">
            {% for choices in product_kit %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card bg-light border-white w3-hover-border-green">
                        <img class="img-fluid" src="{{ choices.image.url }}" alt="Imagine Produs">
                        <div class="card-title text-center">
                            <h4 style="font-weight: bold;font-family: Gelasio"> {{ choices.get_power_display }} </h4>
                        </div>

                        <div class="card-body text-center">
                            <h5 style="font-family: Gelasio"> {{ choices.name }} </h5>
                            <h6 style="font-family: Gelasio"> Număr
                                panouri: {{ choices.number_of_panels }} </h6>
                            <h6 style="font-family: Gelasio">
                                {{ choices.get_accessory_display }} </h6>
                            {% if consumption_file %}
                                <p class="p-2 rounded-3 prices_color text-center">
                                    Preț cu dosar prosumator inclus: {{ choices.price_with_consumption_file }}
                                    RON
                                </p>
                            {% else %}
                                <p class="p-2 rounded-3 prices_color text-center">Preț
                                    referință: {{ choices.price }}
                                    RON
                                </p>
                            {% endif %}

                        </div>

                    </div>

                </div>

            {% endfor %}


        </div>

    </div>

{% endblock %}