{% extends 'base.html' %}
{% block content %}
    {% if success == '1' %}
        <div class="alert alert-success alert-dismissible col-md-4 position-relative">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Mulțumim!</strong> Am primit mesajul tău!
        </div>
    {% endif %}

    <div class="container-fluid">
        <br>
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-header text-center">
                        <br>
                        <h3> Trimite un mesaj: </h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn" style="background-color: rgb(98 127 159); color: white"><i
                                    class="fa-light fa-paper-plane-top"></i> Trimite
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}