{% extends 'base.html' %}
{% block title %} Crează Cerere {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-header text-center">
                        <br>
                        <h3> Introduceți datele: </h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn" style="background-color: rgb(98 127 159); color: white">Confirma</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}