{% extends 'base.html' %}
{% block title %} Abonamente Internet si TV {% endblock %}
{#{% block body_style %}background-color: #cc0000{% endblock %}#}
{% block content %}
    <br>
    <div class="container-fluid col-md-10 offset-md-1">
        <div class="row gy-3">
            {% for internet_and_data in all_products %}
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card bg-light border-white w3-hover-border-green">
                        <img class="card-img-top" src="{{ internet_and_data.image.url }}" alt="Internet and Data">
                        <div class="card-body text-center">
                            <h5 style="font-weight: bold"> {{ internet_and_data.name }} </h5>
                            <div class="card-text description">
                                {{ internet_and_data.description|safe }}
                            </div>
                            <p class="p-2 rounded-3 prices_color text-center">{{ internet_and_data.price }}
                                RON
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}