{% extends 'base.html' %}
{% block title %} Lista de Produse {% endblock %}

{% block content %}
    <div class="bg-light m-2">
        <div class="row g-0">
            {% for photovoltaic in detail %}
                <div class="col-lg-4 offset-lg-1 col-md-4">
                    <img src="{{ photovoltaic.image.url }}" class="img-fluid p-2"
                         alt="Photovoltaic Products">
                </div>
                <div class="col-lg-6 col-md-8">

                    <h3 class="card-title border-bottom" style="color:black; font-family: Gelasio">
                        <strong>{{ photovoltaic.name }}</strong>
                    </h3>

                    <h6 style="text-align: justify">{{ photovoltaic.description|linebreaks|safe }}</h6>


                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h4 class="col-md-4 ps-4 py-2 offset-md-1" style="color:black;font-family: Gelasio"><strong><i class="fa-solid fa-check"></i>
            Alege din oferta noastră:</strong></h4>
    </div>

    <div class="container-fluid col-md-10 offset md-1">
        <div class="row gy-3">
            {% for photovoltaic in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card bg-light border-white w3-hover-border-light-green">
                        <img class="card-img-top" src="{{ photovoltaic.image.url }}" alt="Photovoltaic Products">
                        <div class="card-body text-center">
                            <h5 style="height:70px">{{ photovoltaic.name }}</h5>

                            <div class="description" id="description_{{ forloop.counter0 }}">
                                <p class="text-start">
                                    Descriere:
                                </p>
                                <h6 class="text-start">{{ photovoltaic.description|linebreaks|safe }}</h6>
                                <p class="text-start">Detalii
                                    Tehnice:</p><h6
                                    class="text-start">{{ photovoltaic.technical_details|linebreaks|safe }}</h6>
                                <p class="text-start">Detalii
                                    Producție:</p><h6
                                    class="text-start">{{ photovoltaic.production_details|linebreaks|safe }}</h6>
                                <div class="fade-out" style="box-shadow: 0 -100px 50px -80px white inset">
                                </div>
                            </div>

                            <div class="card-text">
                                <div class="d-flex justify-content-center py-3">
                                    <button type="button" class="w3-btn" style="font-weight: bold"
                                            data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                            onclick="copyDataToModal('description_{{ forloop.counter0 }}','{{ photovoltaic.name }}')">
                                        Vezi mai mult <i class="fa-solid fa-circle-arrow-right"></i>

                                    </button>
                                </div>
                                <p class="p-2 rounded-3 prices_color text-center">
                                    Preț: {{ photovoltaic.price|safe }} RON</p>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div>
            <a class="btn mt-3 px-4" style="background-color: rgb(98 127 159); color: white "
               href="{% url 'contact' %}"><i
                    class="fa-solid fa-share"></i> Trimite-ne un mesaj </a>
        </div>
    </div>

    <script>
        function copyDataToModal(elementId, title) {
            const sourceDiv = document.getElementById(elementId);
            const destinationDiv = document.getElementById('modal_body');
            destinationDiv.innerHTML = sourceDiv.innerHTML;
            const destination_title = document.getElementById('exampleModalLabel');
            destination_title.innerText = title;
        }
    </script>

{% endblock %}

