{% extends 'base.html' %}
{% block title %} Suport {% endblock %}
{% block content %}
    <div class="bg-light m-2">
        <div class="row g-0">
            {% for item in general %}

                <div class="col-lg-4 offset-lg-1 col-md-4">
                    <img src="{{ item.image.url }}" class="img-fluid p-2" alt="Suport Image">

                </div>
                <div class="col-lg-6 col-md-8">
                    <h3 class="card-title border-bottom text-center" style="color: black; font-family: Gelasio">
                        <strong>{{ item.name }}</strong>
                    </h3>

                    <h5 style="text-align: center; color: black">{{ item.description|linebreaks|safe }}</h5>

                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid col-md-10 offset-md-1">
        <div class="row gy-3">
            {% for item in detail %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card bg-light border-white w3-hover-border-light-blue">
                        <img class="card-img-top" src="{{ item.image.url }}" alt="Photovoltaic Products">
                        <div class="card-body text-center">
                            <h5 style="font-weight: bold; font-family: Gelasio"> {{ item.name }} </h5>

                            <div class="card_description" id="description_{{ forloop.counter0 }}">

                                <h6 class="text-center">{{ item.description|linebreaks|safe }}</h6>
                                <div class="fade-out" style="box-shadow: 0 -100px 50px -80px white inset">
                                </div>

                            </div>

                            <div class="card-text">
                                <button type="button" class="w3-btn m-1 px-5" style="font-weight: bold"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        onclick="copyDataToModal('description_{{ forloop.counter0 }}','{{ item.name }}')">
                                    Vezi mai mult <i class="fa-solid fa-circle-arrow-right"></i>

                                </button>

                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div>
            <a class="btn mt-3 px-4" style="background-color: rgb(98 127 159); color: white " href="{% url 'contact' %}"><i class="fa-solid fa-share"></i>
                Trimite-ne un mesaj </a>
        </div>
    </div>


    <script>
        function copyDataToModal(elementId, title) {
            const sourceDiv = document.getElementById(elementId);
            const destinationDiv = document.getElementById('modal_body');
            destinationDiv.innerHTML = sourceDiv.innerHTML;
            const destination_title = document.getElementById('exampleModalLabel');
            destination_title.innerText = title;
        }
    </script>

{% endblock %}