{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for item in carousel %}
                <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="{{ forloop.counter0 }}" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
            {% endfor %}

        </div>
        <div class="carousel-inner">
            {% for item in carousel %}
                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                    <img src="{{ item.image.url }}" class="d-block w-100" alt="Carousel Image">
                    <div class="carousel-caption">
                        <h5>{{ item.short_description }}</h5>

                    </div>

                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <div class="bg-light m-2">
        <div class="row g-0 pb-3">
            {% for item in under %}

                <div class="col-lg-4 offset-lg-1 col-md-4">
                    <a href="{{ item.link }}"> <img src="{{ item.image.url }}" class="img-fluid p-2"
                                                    alt="Home Image"></a>
                </div>
                <div class="col-lg-6 col-md-8">
                    <h4 class="card-title border-bottom text-center" style="color: black; font-family: Gelasio">
                        <strong>{{ item.tilte }}</strong>
                    </h4>

                    <h6 style="text-align: center; color: black">
                        {{ item.description|linebreaks|safe }}</h6>
                    <div class="d-flex justify-content-center">
                        <a class="btn w3-btn" style="font-weight: bold"
                           href="{{ item.link }}" role="button"> Vezi Produsele <i
                                class="fa-solid fa-circle-arrow-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="background-color:rgb(98 127 159)">
        <div class="container-fluid col-md-10 offset-md-1">

            <div class="row gy-3">

                <h3 style=" text-align: center; font-weight: bolder; color: white; font-family: Gelasio">
                    Cum obțin oferta potrivită nevoilor mele? </h3>

                {% for item in midle %}
                    <div class="col-lg-3 col-sm-6 col-12 gx-5">

                        <div class="card bg-light" style="height:340px !important; overflow-y: hidden">

                            <div class="card-body text-center">

                                <img src="{{ item.image.url }}" class="img-fluid p-lg-2" alt="Home Image">
                                <h5 style="font-size:x-large;color: #002b36;font-style: italic;font-weight: bolder"> {{ item.step }} </h5>
                                <br>
                                <div class="card-text" style="font-weight: bold; color: #002b36">
                                    {{ item.make }}
                                </div>

                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pb-1" style="background-color:rgb(98 127 159)">

        <div class="d-flex justify-content-center py-3">
            <a class="btn w3-btn bg-light" style="font-weight: bold"
               href="{% url 'create_form' %}" role="button"> Configurează acum! <i
                    class="fa-solid fa-circle-arrow-right"></i></a>

        </div>
    </div>

{% endblock %}
