{% load static %}


.bg_image {
    background: url("/static/photovoltaics/photovoltaic-2799982_960_720.jpg") 50% 0 no-repeat fixed;
}

.size_logo {

height: 85px;
width: auto;

}

.center_logo {
    text-align: center;
}

#carouselExampleIndicators .carousel-item:before {
    content: "";
    background-image: linear-gradient(
            to bottom,
            transparent, rgba(0, 0, 0, 1)
    );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    object-position: center;
    max-height: 70vh;
    overflow-y: hidden;
}


.card_description {

    height: 240px !important;
    overflow-y: hidden;
    position: relative;

}


.fade-out {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-y: hidden;
}

#content {
    min-height: 70vh;
}

.prices_color {

    background-color: #187568;
    color: white

}