{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="/static/home/logo.jfif">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Iceland" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gelasio" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share Tech Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
.background_blue {
    background-color: seashell;
}

.description {

    height: 250px !important;
    overflow-y: hidden;
    position: relative;

}

    </style>
</head>
<body>
{% include 'sidebar.html' %}
<div id="content">

{% block content %}
{% endblock %}

</div>

{% include 'footer.html' %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal_body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/e1af5ea15d.js" crossorigin="anonymous"></script>


</body>
</html>