{% load static %}

<div class="container-fluid" style="font-family: Bitter; background-color:rgb(98 127 159)">
    <div class="col-md-10 offset-md-1">
        <div class="row gy-3 mb-1 mt-1 text-white border-bottom pb-2">
            <div class="col-md-4 col-sm-6 col-12 px-5">
                <a href="tel:+40745020722" class="text-decoration-none text-white">
                    <strong style="font-size:1.2em;"><i class="fa-solid fa-phone"></i> Apelează </strong></a>
                <br>
                <a href="{% url 'contact' %}" class="text-decoration-none text-white">
                    <strong style="font-size:1.2em;"><i class="fa-solid fa-envelope-open-text"></i> Contactează-ne
                    </strong></a>
            </div>

            <div class="col-md-4 col-sm-6 col-12 px-5">
                <strong style="font-size:1.2em"><i class="fa-solid fa-list-dropdown"></i> Meniu </strong><br>
                <a href="{% url 'list_of_products' %}" class="text-decoration-none text-white w3-hover-text-black">
                    Internet și TV</a><br>
                <a href="{% url 'photovoltaic_products' %}" class="text-decoration-none text-white w3-hover-text-black">
                    Sisteme Fotovoltaice </a><br>
                <a href="{% url 'support' %}" class="text-decoration-none text-white w3-hover-text-black">
                    Soluții suport pentru Companii</a><br>
                <a href="{% url 'create_form' %}" class="text-decoration-none text-white w3-hover-text-black">
                    Configurator</a><br>

            </div>
            <div class="col-md-4 col-sm-6 col-12 px-5">

                <a href="https://wa.me/+40745020722" target="_blank" class="text-white  text-decoration-none pt-1"><i
                        class="fa-brands fa-whatsapp" style="font-size:1.5em"></i> <span
                        style="font-family: Bitter; font-size: 1.2em">Whatsapp</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="text-center text-white py-1">Copyright &copy; {% now 'M Y' %} -
            Iulian Nastase</p>
    </div>
</div>