{% load static %}

<div class="row container-fluid">
    <a style="font-size:1.3em;color: black" href="{% url 'contact' %}" class="btn col-4 ms-auto pt-4">
        <div>
            <i class="fa-solid fa-envelope-open-text"></i> <span class="w3-hide-small"> Contactează-ne </span>
        </div>
    </a>
    <a href="{% url 'home' %}" class="col-4 center_logo">
        <div>
            <img class="size_logo"
                 src="{% static '/home/logo.jfif' %}">
        </div>
    </a>

    <a style="font-size:1.3em;color: black" href="tel:+40745020722" class="btn col-4 ms-auto pt-4">
        <div>
            <i class="fa-solid fa-phone"></i><span class="w3-hide-small"> 0745.020.722 </span>
        </div>
    </a>
</div>

<nav class="navbar navbar-expand-md navbar-dark sticky-top"
     style="background-color:rgb(98 127 159); font-family:Iceland; font-size: 1.3em">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family:Share Tech Mono; font-size: 1.6em" href="{% url 'home' %}">NEX<i
                class="fa-solid fa-tower-broadcast" style="font-size:32px"></i>LEVEL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_of_products' %}">Internet si TV</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Sisteme Fotovoltaice
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create_form' %}">Configurator</a></li>
                        <li><a class="dropdown-item" href="{% url 'photovoltaic_products' %}">Produse</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'support' %}">Solutii Suport pentru Companii</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


